/* Use this file to optionally override global css styles and use with caution. */
/* See README.md for hints and examples: https://github.com/medic/cht-tech-radar-core */
@font-face {
    font-family: "DIN";
    src: url("../../public/fonts/NotoSans-Regular.ttf");
    font-weight: normal;
  }
  
  @font-face {
    font-family: "DIN";
    src: url("../../public/fonts/NotoSans-Thin.ttf");
    font-weight: 300;
  }
  
  @font-face {
    font-family: "TIT";
    src: url("../../public/fonts/spartan-mb.light.otf");
    font-weight: 300;
  }
  
  [id^="layout"] {
    font-family: "DIN"!important;
  
  }
  
  h1,
  h2,
  h3 {
    font-family: "TIT"!important;
  }
  